html {
	font-family: 'Poiret One', cursive;
	font-size: 1rem;
	color: #ff9763;
	text-shadow: 
		0 0 1rem #ff9763,
		0 0 2rem #ff9763,
		0 0 4rem #db2509,
		0 0 6rem #db2509,
		0 0 8rem #db2509,
		0 0 10rem #db2509;
	background: 
		no-repeat center center fixed
		linear-gradient(
		to bottom,
		rgb(0,0,0) 0%,
		rgb(47, 25, 69) 100%
		);
	background-size: cover;
}

h1 {
	font-size: 3rem;
    text-align: center;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.side-panel>form, button, #grid-container {
	color: #ff9763;
	text-shadow: 
		0 0 1rem #ff9763,
		0 0 2rem #ff9763,
		0 0 4rem #db2509,
		0 0 6rem #db2509,
		0 0 8rem #db2509,
		0 0 10rem #db2509;
	border-color: #ff9763;
} 

.side-panel>form {
    width: auto;
    height: auto;
    border: 2px solid;
    box-shadow: 
		0 0 2px #ff9763,
		0 0 4px #ff9763,
		0 0 6px #db2509,
		0 0 8px #db2509,
		0 0 10px #db2509;
    padding: 10px;
}

.side-panel * {
	font-size: 1.25rem;
    margin-top: 10px;
}

button {
    width: 120px;
    height: 50px;
    font-family: 'Poiret One', cursive;
    color: #ff9763;
	border: 1px solid;
	box-shadow: 
		0 0 1px #ff9763,
		0 0 2px #ff9763,
		0 0 3px #db2509,
		0 0 4px #db2509,
		0 0 5px #db2509;
	background-color: Transparent;
}

#draw-options {
	display: grid;
	align-content: space-around;
}

#draw-options>form {
    display: grid;
    justify-items: center;
    align-items: center;
}

#colour-pick, #slider {
	width: 120px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    margin-top: 0;
}

#picker {
	appearance: none;
	width: 80px;
	border: 1px solid #ff9763;
	box-shadow: 
		0 0 1px #ff9763,
		0 0 2px #db2509,
		0 0 3px #db2509;
	padding: 1px;
}

#grid-container {
    width: 40vw;
    height: 40vw;
    border: 5px solid;
    box-shadow: 
		0 0 5px #ff9763,
		0 0 10px #ff9763,
		0 0 15px #db2509,
		0 0 20px #db2509,
		0 0 25px #db2509;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
}

.grid-cell {
    background-color: white;
    border: 1px solid black;
}

#grid-options {
    display: grid;
	align-content: space-around;
}

#grid-options>form {
	display: grid;
    justify-items: center;
    align-items: center;
}

#inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

 #grid-slider {
	appearance: none;
	width: 100px;
	height: 10px; 
	background: #ff9763; 
	outline: none;  
	margin-bottom: 0;
} 

#slider-text {
	font-size: 1.1rem;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 2px;
}

@media only screen and (max-width: 740px) {
	main {
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	#grid-container {
		order: 1;
		width: 80vw;
		height: 80vw;
		margin-bottom: 5%;
	}
	.side-panel {
		order: 2;
	}
	.side-panel>form {
		width: 100px;
	}
	.side-panel * {
		font-size: 1rem;
		margin-top: 5px;
	}
	button, #colour-pick, #slider {
		width: 90%;
		height: 90%;
	}
	#picker {
		width: 50px;
	}

	#grid-slider {
		width: 70px;
	}
	#slider-text {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.side-panel>form {
		width: 80px;
	}
	.side-panel * {
		font-size: 0.75rem;
	}
	#picker {
		width: 40px;
		height: 20px;
	}
	#grid-slider {
		width: 50px;
		height: 5px;
	}
	#slider-text {
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 450px) {
	.side-panel>form {
		width: 60px;
	}
	.side-panel * {
		font-size: 0.5rem;
	}
	#picker {
		width: 40px;
		height: 20px;
	}
	#grid-slider {
		width: 40px;
		height: 5px;
	}
	#slider-text {
		font-size: 0.5rem;
		padding-bottom: 8px;
	}
}